/*Style for the main page*/

.logo-box{
  /*border: 1px solid #EEE;*/
}

.nav-box{
  /*border: 1px solid #EEE;*/
}

.header-box{
  background-image: url("elements/cover_exp.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
}

.footer-box{
  background: #999;
  border-radius: 10px;
  color: #FFF;
  padding: 20px;
}
